@import url("/node_modules/normalize.css/normalize.css");


@media (prefers-color-scheme: dark) {
  :root {
    --editor-bg-color: #1e1e1e;
    --editor-border-color: #404040;
    --editor-button-color-hover: #fff;
    --editor-button-color: #a0a0a0;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --editor-bg-color: #fffffe;
    --editor-border-color: #e6e6e6;
    --editor-button-color-hover: #1f1f1f;
    --editor-button-color: #646464;
  }
}

body {
  margin: 0;
  background-color: var(--editor-bg-color);
}

.app {
  display: flex;
  width: 100dvw;
  height: 100dvh;

  .app__editor {
    flex-grow: 1;
    overflow: hidden;
  }
  
  .app__toolbar {
    width: 48px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    order: -1;
    border-right: 2px solid var(--editor-border-color);
  }
}

.toolbar-group {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}

.toolbar-button {
  display: block;
  padding: 0;
  background-color: transparent;
  color: var(--editor-button-color);
  border: 0;
  cursor: pointer;
  font-size: 1.75rem;

  :hover {
    color: var(--editor-button-color-hover);
  }

  > svg {
    margin: 0 auto;
    display: block;
  }
}
